.flag__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
}

.flag{
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 1em;
}

.flag__img{
  width: 100%;
  height: 100%;
}

.flag_detail{
  padding: 1em;
  color: var(--primary-text);
  background-color: var(--primary-background);
}

.flag__country-name{
  margin-bottom: .5em;
  font-size: var(--homepage-items);
  font-weight: var(--Weight-800);
}

.flag__country-detail{
  font-size: var(--homepage-items);
  font-weight: var(--Weight-600);
  margin-bottom: .2em;
}
