.flag__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
}

.flag__img-container{
  display: flex;
  flex-direction: row;
  flex: auto;
}

.flag{
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 20em;
  padding: 1em;
}

.flag__img{
  max-height: 12em;
  width: 100%;
}

.flag__details-container{
  display: flex;
  flex-direction: row;
}

.flag_detail{
  flex: auto;
  padding: 1em;
  color: var(--primary-text);
  background-color: var(--primary-elements);
}

.flag__country-name{
  margin-bottom: .5em;
  font-size: var(--homepage-items);
  font-weight: var(--Weight-800);
}

.flag__country-detail{
  font-size: var(--homepage-items);
  font-weight: var(--Weight-600);
  margin-bottom: .2em;
}
