<div class="container__details">
  <div class="back__row">
    <button class="back__btn" (click)="return()">
      <i class="icon_back">
        <span class="material-symbols-outlined">
          arrow_back
        </span>
      </i>
      <p>Back</p>
    </button>
  </div>

  <div class="details__row">
    <div class="flag__column">
      <img class="flag-img" src="{{country.flag}}" alt="{{country.name}}">
    </div>
    <div class="details__column">
      <div class="country__row">
        <h2 class="country__title">{{country.name}}</h2>
      </div>
      <div class="country__row">
        <div class="country__column">
          <p>Native Name: {{country.nativeName}}</p>
          <p>Population: {{country.population}}</p>
          <p>Region: {{country.region}}</p>
          <p>Sub Region: {{country.subregion}}</p>
          <p>Capital: {{country.capital}}</p>
        </div>
        <div class="country__column">
          <p>Top Level Domain: {{country.topLevelDomain}}</p>
          <div class="currencies-div">Currencies: <p class="internal-value" *ngFor="let currencie of country.currencies">- {{currencie.name}}</p></div>
          <div class="languages-div">Languages: <p class="internal-value" *ngFor="let language of country.languages">- {{language.name}}</p></div>
        </div>
      </div>
      <div class="country__row-border">
        <p class="border-countries">Border Countries: </p>
        <p class="btn__border" *ngFor="let border of country.borders">{{border}}</p>
      </div>
    </div>
  </div>
</div>
