.container__details{
  height: calc(100vh - 85.16px);
  display: flex;
  flex-direction: column;
}

.back__row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3em;
}

.back__btn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5em;
  color: var(--primary-text);
  background-color: transparent;
  border: 0;
  box-shadow: 1px 1px 1px 1px #00000044;
  font-size: var(--detail-page);
  width: 8em;

}

.details__row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
}

.flag__column{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.flag-img{
  width: 40em;
  box-shadow: 1px 1px 1px 1px #00000044;
}

.details__column{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: stretch;
}

.country__row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  color: var(--primary-text);
}

.currencies-div{}

.languages-div{}

.internal-value{
  padding-left: 1em;
}

.country__row-border{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--primary-text);
}

.country__column{
  display: flex;
  flex-direction: column;
}

.btn__border{
  padding: .5em;
  background: transparent;
  color: var(--primary-text);
  box-shadow: 1px 1px 1px 1px #00000044;
}
