.container__details{
  display: flex;
  flex-direction: column;
}

.back__row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 3em;
}

.back__btn{
  padding: .5em;
  color: var(--white);
  background-color: transparent;
  border: 0;
  box-shadow: 1px 1px 1px 1px #00000044;
  font-size: var(--detail-page);
  width: 8em;
}

.details__row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 97vh;
}

.flag__column{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.flag-img{
  width: 40em;
}

.details__column{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.country__row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.country__column{
  display: flex;
  flex-direction: column;
}
