<div class="container__details">
  <div class="back__row">
    <button class="back__btn">
      <i class="icon_back"></i>
      <p>Back</p>
    </button>
  </div>

  <div class="details__row">
    <div class="flag__column">
      <img class="flag-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_the_Taliban.svg/320px-Flag_of_the_Taliban.svg.png" alt="pais">
    </div>
    <div class="details__column">
      <div class="country__row">
        <h2 class="country__title">Pais</h2>
      </div>
      <div class="country__row">
        <div class="country__column">
          <p>Native Name: </p>
          <p>Population: </p>
          <p>Region: </p>
          <p>Sub Region: </p>
          <p>Capital: </p>
        </div>
        <div class="country__column">
          <p>Top Level Domain: </p>
          <p>Currencies: </p>
          <p>Languages: </p>
        </div>
      </div>
      <div class="country__row">
        <p class="border-countries">Border Countries: </p>
        <button>pais</button>
      </div>
    </div>
  </div>
</div>
