<div class="container__flags">
  <div class="container__flags-filters-row">
    <div class="filters-row__input">
      <input
      id="searchCountry"
      class="input"
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="filter"
      (keyup)="search()"
      >
    </div>

    <div class="filters-row__select">
      <select [(ngModel)]="region" (ngModelChange)="listRegion()" class="select" name="region" id="select-region">
        <option class="option" value="" selected>Filter by Region</option>
        <option class="option" value="Africa">Africa</option>
        <option class="option" value="Americas">Americas</option>
        <option class="option" value="Asia">Asia</option>
        <option class="option" value="Europe">Europe</option>
        <option class="option" value="Oceania">Oceania</option>
      </select>
    </div>
  </div>
  <div [ngClass]="listCountry.length > 1 ? 'container__flags-flags' : 'container__flags-flags container__flags-oneFlag'">
    <app-flag [listCountry]="listCountry" *ngIf="listCountry.length > 0"></app-flag>
    <div class="empty_list" *ngIf="listCountry.length == 0">
      <p class="title">No country found</p>
    </div>
  </div>
</div>
