.container__flags{}

.container__flags-filters-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.filters-row__input{}

.input{
  color: var(--primary-text);
  background-color: var(--primary-elements);
  height: 2em;
  width: 30em;
  border: none;
  padding: 1em;
  margin-left: 1em;
}

.filters-row__select{
  margin-right: 1em;
}

.select{
  color: var(--primary-text);
  background-color: var(--primary-elements);
  height: 4em;
  width: 12em;
  border: none;
  padding: 1em;
}

.container__flags-flags{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.empty_list{
  height: calc(100vh - 202px);
  display: flex;
  flex-direction: column;
}

.title{
  color: var(--primary-text);
  font-size: 1.8em;
  padding: 1.5em;
}
