.container{
  background-color: var(--primary-background);
  font-family: var(--family);
}

.container__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: auto;
  height: 3vh;
  background-color: var(--primary-elements);
  color: var(--primary-text);
  font-size: 1.8em;
}

.header__title{
  margin-left: 1em;
}

.container__header__dark-mode{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 1em;
  font-size: var(--homepage-items);
}
