:root{
  --mobile: 375px;
  --desktop: 1440px;

  /* Typography */
  /* Body Copy */

  --homepage-items: 14px;
  --detail-page: 16px;

  /* Fonts */

  --family: 'Nunito Sans', sans-serif;
  --Weight-300: 300;
  --Weight-600: 600;
  --Weight-800: 800;
}

:root .dark-theme{
  --primary-elements: hsl(209, 23%, 22%);  /* Dark-Mode-Elements */
  --primary-background: hsl(207, 26%, 17%);  /* Dark Mode Background */
  --primary-text: hsl(0, 0%, 100%);  /* Dark Mode Text & Light Mode Elements */
}

:root .ligth-theme{
  --primary-text: hsl(200, 15%, 8%);  /* Light Mode Text */
  --primary-input: hsl(0, 0%, 52%);  /* Light Mode Input */
  --primary-background: hsl(0, 0%, 98%);  /* Light Mode Background */
  --primary-elements: hsl(0, 0%, 100%);  /* Light Mode Elements */
}

*{
  margin: 0;
  padding: 0;
}
